[submodule "cva6-sdk"]
	path = cva6-sdk
	url = https://github.com/pulp-platform/cva6-sdk.git
	ignore = dirty
[submodule "toolchain/llvm-project"]
	path = toolchain/llvm-project
	url = https://github.com/pulp-platform/llvm-project.git
	ignore = dirty
[submodule "sw/libhero/vendor/o1heap"]
	path = sw/libhero/vendor/o1heap
	url = https://github.com/pavel-kirienko/o1heap
