/generated/
/db/
/cluster_fit.*
/quartus/db/
/quartus/incremental_db/
/quartus/output_files/
/.qsys_edit/
/scripts/__pycache__/
/quartus/*.done
/quartus/*.jdi
/quartus/*.log
/quartus/*.pin
/quartus/*.qws
/quartus/*.rpt
/quartus/*.sld
/quartus/*.smsg
/quartus/*.sof
/quartus/*.summary
/quartus/c5_pin_model_dump.txt
/*.log
/*.rpt
/*.v
