db/
incremental_db/
output_files/
d2_mmio_system/
d2_mmio_system.qsys
*.sopcinfo
*.qws
*.rpt
*.summary
*.smsg
*.pin
*.sof
*.pof
*.jdi
*.sld
*.qdf
*.qmsg
*.map
*.fit
*.sta
*.asm
*.done
c5_pin_model_dump.txt
