build/
generated/
db/
incremental_db/
output_files/
hps_isw_handoff/
s11_hps_snitch_system/
s11_hps_snitch_system.qsys
s11_hps_snitch_system.sopcinfo
c5_pin_model_dump.txt
*.bak
*.done
*.jdi
*.pin
*.qws
*.rpt
*.smsg
*.summary
*.qmsg
*.sof
*.rbf
